################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
#*.dll
*.pdb
*.cache
/.vs/*
/Qiniu/bin/*
/Qiniu/obj/*
/BK_Model/bin/*
/BK_Model/obj/*
/BK_CommonLib/bin/*
/BK_CommonLib/obj/*
/BK_WeChat/bin/*
/BK_WeChat.Tests/bin/Debug/*
/BK_WeChat.Tests/bin/Release/*
/BK_WeChat.Tests/obj/*
/BK_WeChat/obj/Debug/*
/BK_WeChat/obj/Release/*
/Senparc.Weixin.MP.BuildOutPut/*
/Senparc.Weixin.MP/Senparc.Weixin.MP/obj/Debug/*
/Senparc.Weixin.MP/Senparc.Weixin.MP/obj/Release/*
/Senparc.Weixin.Open/Senparc.Weixin.Open/obj/Debug/*
/Senparc.Weixin.Open/Senparc.Weixin.Open/obj/Release/*
/Senparc.Weixin.QY/Senparc.Weixin.QY/bin/Debug/*
/Senparc.Weixin.QY/Senparc.Weixin.QY/obj/Debug/*
/Senparc.Weixin/bin/Debug/*
/Senparc.Weixin/bin/Release/*
/Senparc.Weixin/obj/Debug/*
/Senparc.Weixin/obj/Release/*
/packages
/Senparc.Weixin.QY/Senparc.Weixin.QY/obj/Release
/BK_WeChat/App_Data
/BK.Configuration/bin/Debug
/BK.Configuration/obj/Debug
/TestMQ/obj/Debug
/TestMQ/bin/Debug
/BK.CommonLibTests/bin/Debug
/BK.CommonLibTests/obj/Debug
/BK.Configuration/bin/Release
/BK.Configuration/obj/Release
/BK.CommonLibTests/bin/Release
/BK.CommonLibTests/obj/Release
/BK.WexinLib/obj/Debug
/BK.WexinLib/bin/Debug
/BK_WeChat/Properties/PubulishProfiles/bk.pubxml.user
*.user
/BK.MessagingService/bin
/BK.MessagingService/obj/Debug
/BK.MessagingService/obj/Release
/BK_WeChat/F2E/
/BK.DataService/obj/Debug
/BK.DataService/bin/Debug
/BK.DataService/obj/Release
/BK.DataService/bin
/BK.NoticeService/bin/Release
/BK.NoticeService/obj
/BK.NoticeService/bin/Debug
/BK.LogService/bin
/BK.LogService/obj/Debug
/BK.LogService/obj/Release
/BK.DataSyncFromEK/obj/Release
/BK.DataSyncFromEK/bin/Release
/BK.DataSyncFromEK
